*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* COMMON */
.container{
    max-width: 1200px;
}
.container-sm{
    max-width: 800px;
}
.row{
    width: 100%;
    display: flex;
}
.margin-container{
    margin: 0 auto;
}
.col-15{
    width: 15%;
}
.col-25{
    width: 25%;
}
.col-40{
    width: 40%;
}
.col-50{
    width: 50%;
}
.col-60{
    width: 60%;
}
.col-70{
    width: 70%;
}
.col-100{
    width: 100%;
}
.f-center{
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    padding: 10px;
}
.f-end{
    display: flex;
    justify-content: flex-end;
}
button{
    padding: 8px;
    border-radius: 25px;
}
/* BackGround */
.bg-lightblue{
    background-color:rgb(20, 96, 247);
}
.bg-image{
    background-image: url(../img/jumbo.png);
    background-size: cover;
   
}
.bg-wave{
    background-image: url(../img/wave.svg);
    height: 100px;
    fill: currentColor lightgrey;
}
.bg-lightgrey{
    background-color: lightgrey;
}
footer{
    background-color: darkslategrey;
}
/* FONT MODELLING */
.fc-white{
    color: white;
}
.fc-lightblue{
    color: lightblue;
}
.fs-big{
    font-size: 50px;
}
.fs-small{
    font-size: 25px;
}
.fs-normal{
    font-size: 40px;
}
.text-align{
    text-align: center;
}
.margin-y-20{
    margin: 20px 0;
}
.margin-y-100{
    padding: 100px 0;
}
.big-img{
    width: 100%;
}
.list-type{
    list-style-type: none;
}
.padding-20{
    padding: 20px 0;
}
/* footer */
